# App Configuration
DEBUG_MODE=False

# Database Configuration
DB__USER=postgres
DB__PASS=postgres_secret_password
DB__HOST=localhost
DB__PORT=5432
DB__NAME=saga

# Redis Configuration (Used for Caching & ARQ)
REDIS__R_HOST=localhost
REDIS__R_PORT=6379

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Authentication (JWT)
AUTH__SECRET_KEY=super_secret_jwt_key_example_change_me
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=15
AUTH__REFRESH_TOKEN_EXPIRE_DAYS=7

# Slack 
SLACK__WEBHOOK_URL=https://hooks.slack.com/services/bla-bla