debug_mode=False

DB__HOST=
DB__PORT=
DB__USER=
DB__PASS=
DB__NAME=

REDIS__R_HOST=
REDIS__R_PORT=

AUTH__SECRET_KEY=super_secret_key_change_me_please
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=15
AUTH__REFRESH_TOKEN_EXPIRE_DAYS=7